<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <param name="camRate" value="30"/>
  <param name="imuRate" value="300"/>

  <node pkg="nodelet" type="nodelet" name="visensor_nodelet_manager"  args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="visensor_nodelet" args="load visensor_node/ViSensorNodelet visensor_nodelet_manager" output="screen"/>
  
  <node  ns="/" name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" clear_params="true" output="screen">
    <remap from="/left/image_raw" to="/cam1/image_raw" />
    <remap from="/left/camera_info" to="/cam1/camera_info" />
    <remap from="/right/image_raw" to="/cam0/image_raw" />
    <remap from="/right/camera_info" to="/cam0/camera_info" />
    <param name="queue_size" value="200000" />
    <param name="disparity_range" value="64" />
  </node>

  <node  name="stereo_view" pkg="image_view" type="stereo_view" clear_params="true" output="screen">
    <remap from="stereo" to="/" />
    <remap from="image" to="image_rect" />
  </node> 
</launch>
